<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="row"
    click="element.selectShippingMethod">
    <td class="col col-method">
        <input type="radio"
               class="radio"
               ifnot="method.error_message"
               ko-checked="element.isSelected"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'checked': element.rates().length == 1 || element.isSelected" />
    </td>
    <td class="col col-price">
        <each args="element.getRegion('price')" render="" />
    </td>
    <td class="col col-method"
        attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
        text="method.method_title" />
    <td class="col col-carrier"
        attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code"
        text="method.carrier_title" />
</tr>
<tr class="row"
    if="method.carrier_code == 'pickup'" data-bind="visible: $parent.showPickup">
    <td class="col"></td>
    <td class="col col-details" colspan="4">
        <p class="button action continue primary" click="$parent.showPickupFormPopUp.bind($parent)">Store Pickup</p>
        <p>
            <span if="$parent.storeName"><span text="$parent.storeName">Store Name</span>,<br/></span>
            <span if="$parent.storeAddress1"><span text="$parent.storeAddress1">Address street</span>,<br/></span>
            <span if="$parent.storeAddress2"><span text="$parent.storeAddress2">Address street</span>,<br/></span>
            <span if="$parent.storeCity"><span text="$parent.storeCity">City</span>,<br/></span>
            <span if="$parent.storeCountry"><span text="$parent.storeCountry">Country</span>,<br/></span>
            <span if="$parent.storeZipcode"><span text="$parent.storeZipcode">Zipcode</span>.</span>
        </p>
    </td>
</tr>
<tr class="row row-error"
    if="method.error_message">
    <td class="col col-error" colspan="4">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>
        <span class="no-display">
            <input type="radio"
                   attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
        </span>
    </td>
</tr>
