<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<form class="form form-shipping-pickup" id="co-shipping-pickup-form" data-hasrequired="* Required Fields">
    <fieldset class="fieldset">
        <div class="field name required">
            <label class="label" for="store-name">
                <span>Store Name</span>
            </label>
            <input class="input-text" type="text" data-bind="value: storeName, valueUpdate: 'keyup',hasFocus: true"
                   name="store-name" aria-required="true" aria-invalid="false" id="store-name"
                   required="true">
        </div>

        <div class="field required" name="store-address">
            <label class="label" for="store-address">
                <span>Street Address</span>
            </label>
            <input class="input-text" type="text" data-bind="value: storeAddress1, valueUpdate: 'keyup'"
                   name="store-address" aria-required="true" aria-invalid="false" id="store-address"
                   required="true">
            <input class="input-text" type="text" data-bind="value: storeAddress2, valueUpdate: 'keyup'"
                   name="store-address1" aria-required="true" aria-invalid="false" id="store-address-second">
        </div>

        <div class="field required" name="store-city">
            <label class="label" for="store-city">
                <span>City</span>
            </label>
            <input class="input-text" type="text" data-bind="value: storeCity, valueUpdate: 'keyup'"
                   name="store-city" aria-required="true" aria-invalid="false" id="store-city"
                   required="true">
        </div>

        <div class="field required" name="store-country">
            <label class="label" for="store-country">
                <span>Country</span>
            </label>
            <input class="input-text" type="text" data-bind="value: storeCountry, valueUpdate: 'keyup'"
                   name="store-country" aria-required="true" aria-invalid="false" id="store-country"
                   required="true" minlength="3">
        </div>

        <div class="field required" name="store-zipcode">
            <label class="label" for="store-zipcode">
                <span>Zip/Postal Code</span>
            </label>
            <input class="input-text validate-zip-international" type="text" data-bind="value: storeZipcode, valueUpdate: 'keyup'"
                   name="store-zipcode" aria-required="true" aria-invalid="false" id="store-zipcode"
                   required="true">
        </div>
    </fieldset>
</form>
